.when {
   min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: Jedi, sans-serif;
    font-size: 2rem;
    color: #feda4a;
}

.karesovi {
    color: #FEDA4A;
    font-family: Jedi;
    font-size: 2.1em;
    padding: 0.5rem;
}

.when img {
    align-self: center;
    max-width: 30vw;
    padding: 1rem;
}

.show-counter {
    font-size: 1.7em;
    padding: 0.5rem;
}