body {
    --white: #ffffffff;
    --mimi-pink: #f1cfe1ff;
    --rose-pompadour: #e9839dff;
    --forest-green: #2e933cff;
    --dark-spring-green: #297045ff;
    --swyellow:#feda4a;
}

/*https://mapy.com/s/fobokezune*/